<div class="comments comment-<%= comment.id %>" >

    <div class="comment-content">
      <div class="post-info no-link-underline">
        <%= link_to(comment.user.fullname, user_path(comment.user)) %> - <%= distance_of_time_in_words(Time.now, comment.created_at) %> ago
      </div>
      <p class="comment-body"><%= simple_format(comment.body) %></p>
      <li class="row comment-actions">
        <ul><%= link_to "Reply", new_comment_comment_path(comment), class: "btn post-link", remote: true %>
      </li>
    </div>

</div>

<% unless controller_name == "comments" %>
  <div class="indent-comment">
    <%= render comment.comments unless comment.comments.empty? %>
  </div>
<% end %>