<h2><%= pluralize(@pending_friends.size, "friend request") %></h2>
<% @pending_friends.each do |friend| %>
  <div class="row friend-card">
    <div class="col">
      <div>
        <%= link_to avatar_for(friend, 50), user_path(friend) %>
      </div>
      <div class="friend-card-body">
        <div class="user-info">
          <%= link_to "#{friend.fullname}", user_path(friend) %>
          <%= friend.about %>
        </div>
        <div>
          <%= render partial: "friend_request_form", locals: { :@user => friend } %>
        </div>
      </div>
    </div>
  </div>
<% end %>