<div id="cover-image">
</div>
<div class="container">

  <div class="row">
    <div id="profile-header" class="container">
      <div class="row">
        <div class="col-lg-2">
          <%= gravatar_for @user, 120 %>
        </div>
        <div class="col-lg-10">
          <div id="profile-info">
            <h1><%= "#{@user.fullname}" %></h1>
            <%= link_to pluralize(@number_of_friends, 'friend'), friends_user_path(@user) %>
            <% unless @user == current_user %>
              <%= render "friend_form" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="timeline" class="container">
    <%= render "posts/posts_form" if @user == current_user %>
    <%= render @posts %>
  </div>

</div>
