<!-- I put the style here so I can set the background image based on user without having to involve javascript -->
<%= render "banner" %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <%= render "profile_header" %>
    </div>
  </div>

  <% if @user == current_user %>
    <div class="row">
      <div class="col-12">
        <%= render "posts/form" %>
      </div>
    </div>
  <% end %>

  <div class="users-posts container">
    <% if @posts.empty? %>
      <% if @user == current_user %>
        <p class="no-posts text-center">You haven't posted anything yet.</p>
      <% else %>
        <p class="no-posts text-center"><%= @user.firstname %> has not posted anything yet.</p>
      <% end %>
    <% end %>
    <!-- Loop through the posts instead of calling render @posts
          so that I can give each post a seperate background -->
    <% @posts.each do |post| %>
      <div class="post-card">
        <%= render post %>
      </div>
    <% end %>
    <%= will_paginate @posts %>
  </div>

</div>
