<div id="cover-image">
</div>
<div class="container">

  <div class="row">
    <div id="profile-header" class="container">
      <div class="row">
        <div class="profile-image col-lg-2">
          <%= gravatar_for @user, 120 %>
        </div>
        <div class="col-lg-10">
          <div id="profile-info">
            <h1><%= "#{@user.fullname}" %></h1>
            <ul class="list-inline">
              <li class="list-inline-item"><%= link_to pluralize(@number_of_friends, 'friend'), friends_user_path(@user) %></li>
              <li class="list-inline-item">Joined <%= @date_joined %></li>
              <% unless @user.about.empty? %>
                <li class = "user-bio"><%= @user.about %></li>
              <% end %>
              <% unless @user == current_user %>
                <%= render "friend_form" %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <%= render @posts %>
  </div>

</div>
