<div class="post-card">
  <div class="row">
    <div class="col-2 col-md-1">
      <%= link_to gravatar_for(post.user, 50), user_path(post.user) %>
    </div>

    <div class="col-10 col-md-11">
      <span class="post-info">
        <%= "Posted #{distance_of_time_in_words(Time.now, post.created_at)} by" %>
        <%= link_to("#{post.user.firstname} #{post.user.lastname}", user_path(post.user)) %>
      </span>

      <div class="post-content">
        <% if controller_name == "users" %>
          <%= simple_format(truncate(post.body, length: 255)) %>
        <% else %>
          <%= simple_format(post.body) %>
        <% end %>
      </div>

      <span class="row post-info">
        <%= link_to "View post", post_path(post), class: "btn post-link" %>
        <%= render partial: "likes/form", locals: { :@post => post } %>
        <span id="likes-<%= post.id %>">
          <%= link_to pluralize(post.likes.count, "like"), likes_post_path(post), class: "btn post-link" %>
        </span>
      </span>
    </div>
  </div>
</div>

<% unless controller_name == "users" %>

  <% unless @comments.empty? %>
    <div>
      <h2><%= pluralize(@comments.count, "comment") %></h2>
      <%= render @comments %>
    </div>
  <% else %>
    <p>Nobody has commented yet :(</p>
  <% end %>

<% end %>