  <div class="row">
    <div class="col-2 col-md-1">
      <%= link_to avatar_for(post.user, 50), user_path(post.user) %>
    </div>

    <div class="col-10 col-md-11">
      <span class="post-info">
        <%= "Posted #{distance_of_time_in_words(Time.now, post.created_at)} by" %>
        <%= link_to("#{post.user.fullname}", user_path(post.user)) %>
      </span>

      <% provide(:url, post_comments_path(post)) %>
      <div class="post-content">
        <% unless current_page?(controller: "posts", action: "show", id: post.id) %>
          <%= simple_format(post.body, length: 255, class: "truncate lines-3") %>
          <%= image_for(post, 100, true) if post.image.attached? %>
        <% else %>
          <%= simple_format(post.body) %>
          <div class="text-center">
            <%= link_to image_for(post, 500), url_for(post.image) if post.image.attached? %>
          </div>
        <% end %>
      </div>

      <span class="row post-info">
        <%= link_to pluralize(post.comments_count, "comment"), post_path(post), class: "btn post-link" %>
        <%= render partial: "likes/form", locals: { :@post => post } %>
        <span id="likes-<%= post.id %>">
          <%= link_to pluralize(post.likes.count, "like"), likes_post_path(post), class: "btn post-link" %>
        </span>
      </span>
    </div>
  </div>


