<% provide(:url, post_comments_path(post)) %>
<div class="col">

  <div class="post-body">

    <%= link_to avatar_for(post.user, 50), user_path(post.user), class: "author-avatar" %>

    <div class="post-content">
      <div class="post-info">
        <%= "Posted #{distance_of_time_in_words(Time.now, post.created_at)} by" %>
        <%= link_to("#{post.user.fullname}", user_path(post.user)) %>
      </div>
      
      <!-- Truncates the post unless on the post/show page -->
      <% unless current_page?(controller: "posts", action: "show", id: post.id) %>
        <div class="truncate lines-3">
          <%= simple_format(post.body, length: 255) %>
        </div>
      <% else %>
        <%= simple_format(post.body) %>
      <% end %>

      <% if current_page?(controller: "posts", action: "show", id: post.id) %>
        <div class="text-center post-image-large">
          <%= link_to image_for(post, 500, false, "image-large"), url_for(post.image) if post.image.attached? %>
        </div>
      <% end %>

      <ul class="post-controls post-info">
        <li><%= link_to pluralize(post.comments_count, "comment"), post_path(post), class: "post-link" %></li>
        <li><%= render partial: "likes/form", locals: { :@post => post } %></li>
        <li id="likes-<%= post.id %>">
          <%= link_to pluralize(post.likes.count, "like"), likes_post_path(post), class: "post-link" %>
        </li>
        <% if current_user == post.user %>
          <li>
            <%= link_to "delete post", post_path(post), 
                    data: { confirm: "Are you sure, This action cannot be reversed?"}, 
                    method: :delete %>
          </li>
        <% end %>
      </ul>
    </div>

    <!-- display the preview image to the right of the post preview -->
    <% unless current_page?(controller: "posts", action: "show", id: post.id) %>
      <!-- container div with same dimensions as image prevents image from loaded in 'squished' -->
      <% if post.image.attached? %>
        <div class="image-thumbnail">
          <%= link_to post_path(post) do %>
          <%= image_for(post, 100, true, "image-thumbnail") %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>  
  
</div>


