<% provide(:title, "Home") %>
<div class="container mt-25">
  <div class="row">

    <aside id="sidebar" class="col-lg-5 col-xl-4">
      <div id="sidebar-banner">
          <%= render partial: "users/banner", locals: { :@user => current_user } %>
      </div>

      <div id="profile-content-wrapper">
        <div id="profile-header" class="col">
          <%= link_to user_path(current_user) do %>
            <div id="sidebar-avatar"><%= avatar_for current_user, 120 %></div>
          <% end %>
        </div>

        <div id="profile-info">
          <h4><%= "#{current_user.fullname}" %></h4>
            <ul class="list-inline">
              <li class="list-inline-item"><%= link_to pluralize(@number_of_friends, 'friend'), friends_user_path(@user) %></li>
              <li class="list-inline-item">Joined <%= current_user.date_joined %></li>
            </ul>
        </div>
      </div>

      <%= render "form" %>
    </aside>

    <div id="feed" class="col-lg-7 col-xl-8">
      <h1>Latest Posts</h1>
      <div class="container posts-index">
        <% @posts.each do |post| %>
          <div class="post-card">
            <%= render post %>
          </div>
        <% end %>
        <%= will_paginate @posts %>
      </div>
    </div>

  </div>

</div>