<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between-lg">
  <%= link_to "railsbook", root_path, class: "navbar-brand" %>
    <% if user_signed_in? %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <% if current_user.has_pending_friend_requests? %>
              <li id="friend-request-notification" class="nav-item">
                <%= link_to friends_user_path(current_user), class: "nav-link" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2V7H4v3H1v2h3v3h2v-3h3v-2H6zm9 4c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></svg>
                  <%= current_user.friend_requests.count %>
                <% end %>
              </li>
            <% end %>

            <%= link_to user_path(current_user), class: "nav-link" do %>
              <%= avatar_for(current_user, 25) %> <%= current_user.fullname %>
            <% end %>
          </li>
          <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
          <li><%= link_to "Find friends", users_path, class: "nav-link" %></li>

          <div class="nav-divider"></div>
          <div class="dropdown-divider"></div>

          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
              <svg id="signout-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/>
              </svg>
              Sign out
            <% end %>
          </li>
        </ul>
      </div>
    <% else %>
        <ul class="navbar-nav">
          <li class="nav-item pull-right">
            <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-light" %>
          </li>
        </ul>
    <% end %>
</nav>